h1{
    color :rgb(58, 18, 150);
    background-color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
/* !important tells that this property must not be over ridden 
            by internal css or inline css */
    color: rgb(209, 40, 40) !important;
}